
html,
body {
  margin: 0;
  padding: 0;
  background-color: #ccc;
}

.footer {
  font-size: xx-large;
}

@media print {
  table {
    width: 100% !important;
    padding: none !important;
    font-size: small !important;
  }

  table td {
    padding: none !important;
  }

  table th {
    padding: none !important;
  }

  input {
    border: none;
    color: #333;
    font-weight: bold;
    display: block;
    font-family: Arial, sans-serif;
    font-size: 14px;
    width: 100%;
    height: auto;
    background: transparent;
    text-align: center;
  }
}

table {
  border-collapse: collapse;
  margin: auto;
  width: 70%;
  color: #333;
  font-family: Arial, sans-serif;
  font-size: 14px;
  text-align: left;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.308);
  margin-top: 50px;
  margin-bottom: 50px;
}

table td {
  background-color: #fff;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  font-weight: bold;
  margin: auto;
  text-align: center;
}

table tr:nth-child(even) td {
  background-color: #f2f2f2;
}

table tr:hover td {
  background-color: #0f57812d;
}

table th {
  background-color: #0f5781;
  color: #fff;
  text-align: center;
  font-weight: bold;
  padding: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #ccc;
}